name: Mixed inputs

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: Tenant
        options: 
        - Forge
        - Development
      message:
        required: true
      use-emoji:
        type: boolean
        description: Include  emojis
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true

jobs:
  greet:
    runs-on: ubuntu-latest

    steps:
    - name: Send greeting
      run: echo "${{ github.event.inputs.message }} ${{ fromJSON('["", ""]')[github.event.inputs.use-emoji == 'true'] }} ${{ github.event.inputs.name }}"
